@import "./_bulma_vars.scss";
@import "~bulma";
@import "~bulma-pageloader/src/sass/index.sass";
@import "~buefy/src/scss/buefy";

.box {
	&.is-narrow {
		padding: $box-padding-narrow;
	}
}

.select option[disabled] {
	color: $grey;
}